Repository hsmalley/ghostwire-refractory: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, markdownlint-cli2

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: ruff
        name: ruff (python)
        entry: ruff
        language: python
        types: [python]
        args: ["--fix"]
        additional_dependencies: ["ruff>=0.18.0,<1"]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        files: \.(md|markdown)$
        additional_dependencies: ["markdownlint-cli2@^0.36.0"]

More specs and work
  openspec/changes/add-benchmark-tests/proposal.md
  openspec/changes/add-benchmark-tests/specs/core/spec.md
  openspec/changes/add-benchmark-tests/tasks.md
  openspec/changes/add-contributing-guidance/specs/contributing/spec.md
  openspec/changes/add-github-pages-site/proposal.md
  openspec/changes/add-github-pages-site/specs/static-site/spec.md
  openspec/changes/add-github-pages-site/tasks.md
  python/benchmarks/__init__.py
  python/benchmarks/embedding_benchmarks.py
  python/benchmarks/model_comparison_benchmark.py
  python/benchmarks/rag_benchmarks.py
  python/benchmarks/summarization_benchmarks.py
  python/ghostwire/utils/__init__.py
  python/ghostwire/utils/ghostwire_scoring.py
Due: ruff, markdownlint-cli2

This makes this a lot more effective
  GHOSTWIRE/Modelfile
Due: none

benchmarking is looking good, promethus is almost in
  README.md
  docs/APIDOC.md
  openspec/changes/add-benchmark-tests/tasks.md
  openspec/changes/add-prometheus-metrics/tasks.md
  prometheus_client.py
  pyproject.toml
  python/benchmarks/embedding_benchmarks.py
  python/benchmarks/model_comparison_benchmark.py
  python/benchmarks/rag_benchmarks.py
  python/benchmarks/summarization_benchmarks.py
  python/ghostwire/api/middleware/auth.py
  python/ghostwire/api/middleware/rate_limit.py
  python/ghostwire/api/v1/chat.py
  python/ghostwire/api/v1/documents.py
  python/ghostwire/api/v1/embeddings.py
  python/ghostwire/api/v1/health.py
  python/ghostwire/api/v1/metrics.py
  python/ghostwire/api/v1/orchestrator.py
  python/ghostwire/api/v1/router.py
  python/ghostwire/main.py
  python/ghostwire/utils/__init__.py
  python/tests/benchmark/test_ghostwire_benchmarks.py
  python/tests/integration/test_prometheus_metrics.py
  python/tests/unit/test_prometheus_metrics.py
  uv.lock
Due: ruff, markdownlint-cli2

Prometheus should bee added now
  .env.example
  CONTRIBUTING.md
  README.md
  openspec/changes/add-contributing-guidance/proposal.md
  openspec/changes/add-contributing-guidance/specs/contributing/spec.md
  openspec/changes/add-contributing-guidance/specs/spec.md
  openspec/changes/add-contributing-guidance/tasks.md
  openspec/changes/add-document-ingestion/tasks.md
  openspec/changes/add-local-dev-helpers/specs/design.md
  openspec/changes/add-local-dev-helpers/specs/dev/spec.md
  openspec/changes/add-local-dev-helpers/specs/spec.md
  openspec/changes/add-local-dev-helpers/tasks.md
  openspec/changes/add-makefile-dev-targets/tasks.md
  openspec/changes/add-prometheus-metrics/tasks.md
  openspec/changes/add-readme-goals/specs/design.md
  openspec/changes/add-readme-goals/specs/readme/spec.md
  openspec/changes/add-readme-goals/specs/spec.md
  openspec/changes/add-readme-goals/tasks.md
  openspec/changes/add-sample-data-seeder/tasks.md
  openspec/changes/add-vector-normalize-test/tasks.md
  openspec/changes/implement-logging-optout/tasks.md
  scripts/run_local.sh
Due: markdownlint-cli2

Okay a few more things added to the list and some fixes done
  README.md
  openspec/changes/add-document-ingestion/proposal.md
  openspec/changes/add-document-ingestion/specs/core/spec.md
  openspec/changes/add-document-ingestion/specs/delta.md
  openspec/changes/add-document-ingestion/specs/design.md
  openspec/changes/add-document-ingestion/specs/ingestion/spec.md
  openspec/changes/add-document-ingestion/tasks.md
  openspec/changes/add-llama-deployment/specs/design.md
  openspec/changes/add-llama-deployment/specs/spec.md
  openspec/changes/add-llama-deployment/tasks.md
  openspec/changes/add-opencode-plugins/specs/design.md
  openspec/changes/add-opencode-plugins/specs/spec.md
  openspec/changes/add-opencode-plugins/tasks.md
  openspec/changes/add-orchestrator-api-control/proposal.md
  openspec/changes/add-orchestrator-api-control/specs/design.md
  openspec/changes/add-orchestrator-api-control/specs/spec.md
  openspec/changes/add-orchestrator-api-control/tasks.md
  openspec/specs/orchestrator/design.md
  openspec/specs/orchestrator/spec.md
  pyproject.toml
  python/benchmarks/model_comparison_benchmark.py
  python/ghostwire/api/middleware/auth.py
  python/ghostwire/api/middleware/auth_stub.py
  python/ghostwire/api/v1/health.py
  python/ghostwire/api/v1/metrics.py
  python/ghostwire/orchestrator/integration.py
  python/ghostwire/orchestrator/patch_engine.py
  python/ghostwire/orchestrator/permission_manager.py
  python/ghostwire/utils/__init__.py
  python/tests/integration/test_document_ingestion.py
  python/tests/integration/test_prometheus_metrics.py
  python/tests/unit/test_document_ingestion.py
  python/tests/unit/test_prometheus_metrics.py
  scripts/README.md
  scripts/import_documents.py
Due: ruff, markdownlint-cli2

add-contributing-guidance done
  openspec/changes/add-contributing-guidance/tasks.md
Due: markdownlint-cli2

implement-logging-optout done
  .github/prompts/openspec-apply.prompt.md
  .github/prompts/openspec-archive.prompt.md
  .github/prompts/openspec-proposal.prompt.md
  .kilocode/workflows/openspec-apply.md
  .kilocode/workflows/openspec-archive.md
  .kilocode/workflows/openspec-proposal.md
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  CONTRIBUTING.md
  openspec/changes/implement-logging-optout/tasks.md
  python/ghostwire/config/settings.py
  python/ghostwire/logging_config.py
  python/ghostwire/main.py
  python/tests/unit/test_logging_config.py
Due: ruff, markdownlint-cli2

add-vector-normalize-test done
  openspec/changes/add-vector-normalize-test/tasks.md
  python/ghostwire/config/settings.py
  python/ghostwire/logging_config.py
  python/ghostwire/main.py
  python/tests/unit/test_logging_config.py
  python/tests/unit/test_vector_utils.py
Due: ruff, markdownlint-cli2

add-sample-data-seeder done
  README.md
  openspec/changes/add-sample-data-seeder/tasks.md
  python/tests/unit/test_sample_data_seeder.py
  scripts/seed_sample_data.py
Due: ruff, markdownlint-cli2

For got to lint these
  python/tests/unit/test_sample_data_seeder.py
  scripts/seed_sample_data.py
Due: ruff

add-makefile-dev-targets done
  Makefile
  README.md
  openspec/changes/add-makefile-dev-targets/tasks.md
Due: markdownlint-cli2

saving progress
  README.md
  openspec/changes/add-llama-deployment/tasks.md
  openspec/specs.md
  openspec/specs/testing/IMPLEMENTATION_SUMMARY.md
  openspec/specs/testing/benchmark/spec.md
  openspec/specs/testing/design.md
  openspec/specs/testing/integration/spec.md
  openspec/specs/testing/spec.md
  openspec/specs/testing/unit/spec.md
  pyproject.toml
  python/tests/unit/test_llama_deploy.py
  python/tests/unit/test_sample_data_seeder.py
  python/tests/unit/test_sample_data_seeder_cli.py
  python/tests/unit/test_testing_framework.py
  scripts/llama_deploy.py
  scripts/seed_sample_data_cli.py
  uv.lock
Due: ruff, markdownlint-cli2

Saving progress
  python/tests/unit/test_sample_data_seeder.py
  scripts/README.md
  scripts/seed_sample_data.py
Due: ruff, markdownlint-cli2

saving progress
  python/tests/unit/test_llama_deploy.py
  python/tests/unit/test_sample_data_seeder.py
  python/tests/unit/test_sample_data_seeder_cli.py
  python/tests/unit/test_testing_framework.py
  scripts/llama_deploy.py
  scripts/seed_sample_data.py
  scripts/seed_sample_data_cli.py
Due: ruff

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none
